<section id="main">
	<section class="container-fluid">
		<div class="text-center" id="content" style="font-family: Cambria, Georgia, serif;">
			<h2>
				ΣΚΡΑ-punk
			</h2>
			<br>
			<span style="font-style: italic;font-weight:bold;">
				Εφημερίς Εκδιδομένη Καθ’ Εκάστην
			</span>
			<br>
			<b>Email:</b> <a href="mailto:info@skra-punk.com">info@skra-punk.com</a>
			<br>
			<p>
				<u>Αρχισυνταξία</u>:<br>
				Χρήστος Τριανταφύλλου <a href="mailto:christriantafyll@gmail.com">επικοινωνία</a><br>
				Νίκος Σταματίνης <a href="mailto:nikosstamatinis@yahoo.com">επικοινωνία</a>
			</p>
			<br>
			<p>
				<u>Επιμέλεια Κειμένων</u>:<br>
				Θοδωρής Ταλαμάγκας <a href="mailto:theokt88@yahoo.com">επικοινωνία</a><br>
				Νίκος Θεοδωρόπουλος <a href="mailto:nstheod@gmail.com">επικοινωνία</a>
			</p>
			<br>
			<p>
				<u>Υπεύθυνη κριτικής συναυλιών και στήλης Πικτουρέσκ</u>:<br>
				Όλγα Βερελή <a href="mailto:olga.vereli@hotmail.gr">επικοινωνία</a>
			</p>
			<br>
			<p>
				<u>Συντακτική Ομάδα</u>:<br> Γιώργος Βασιλάκος, Όλγα Βερελή, Νίκος Θεοδωρόπουλος, Νίκος Σταματίνης, Θοδωρής Ταλαμάγκας, Χρήστος Τριανταφύλλου
			</p>
			<br>
			<p>
				<u>Σχεδιασμός Ιστοσελίδας</u>:<br>
				Σάντρα Αμπελογιάννη <a href="mailto:s.abelogianni@gmail.com">επικοινωνία</a><br>
 				Χαράλαμπος Θωμάς <a href="mailto:th.charalampos@gmail.com">επικοινωνία</a>
			</p>
			<br>
			<p>
				<u>Διαχείριση Ιστοσελίδας</u>:<br>
				Χρήστος Τριανταφύλλου
			</p>
			<br>
			<p>
				<u>Υπεύθυνος Social Media</u>:<br>
				Νίκος Σταματίνης
			</p>

			<h2>Αρθρογράφοι :</h2>
			<div class="horizontal_separator"></div>
			<div class="row">
				<!-- authors -->
			</div>
		</div>
	</section>
</section>