<section id="main">
	<section class="container-fluid">
		<div id="content">
			<h1 style="">
				ΣΚΡΑ-punk
			</h1>
			<br>
			<span style="font-style: italic;font-weight:bold;">
				Εφημερίς Εκδιδομένη Καθ’ Εκάστην
			</span>
			<br>
			<b>Email:</b> <a href="mailto:info@skra-punk.com">info@skra-punk.com</a>
			
			<p>
				<u>Αρχισυνταξία</u>:
				Χρήστος Τριανταφύλλου <a href="mailto:christriantafyll@gmail.com">επικοινωνία</a> 
				Νίκος Σταματίνης <a href="mailto:nikosstamatinis@yahoo.com">επικοινωνία</a>
			</p>
			<br>
			<br>
			<p>
				<u>Επιμέλεια Κειμένων</u>: 
				Θοδωρής Ταλαμάγκας <a href="mailto:theokt88@yahoo.com">επικοινωνία</a>
				Νίκος Θεοδωρόπουλος <a href="mailto:nstheod@gmail.com">επικοινωνία</a>
			</p>
			<br>
			<br>
			<p>
				<u>Υπεύθυνη κριτικής συναυλιών και στήλης Πικτουρέσκ</u>:
				Όλγα Βερελή <a href="mailto:olga.vereli@hotmail.gr">επικοινωνία</a>
			</p>
			<br>
			<br>
			<p>
				<u>Συντακτική Ομάδα</u>: Γιώργος Βασιλάκος, Όλγα Βερελή, Νίκος Θεοδωρόπουλος, Νίκος Σταματίνης, Θοδωρής Ταλαμάγκας, Χρήστος Τριανταφύλλου
			</p>
			<br>
			<br>
			<p>
				<u>Σχεδιασμός Ιστοσελίδας</u>:
				Σάντρα Αμπελογιάννη <a href="mailto:s.abelogianni@gmail.com">επικοινωνία</a>
 				Χαράλαμπος Θωμάς <a href="mailto:th.charalampos@gmail.com">επικοινωνία</a>
			</p>
			<br>
			<br>
			<p>
				<u>Διαχείριση Ιστοσελίδας</u>:
				Χρήστος Τριανταφύλλου
			</p>
			<br>
			<br>
			<p>
				<u>Υπεύθυνος Social Media</u>:
				Νίκος Σταματίνης
			</p>

			<h1>Αρθρογράφοι :</h1>
			<div class="horizontal_separator"></div>
			<div class="row">
				<!-- authors -->
			</div>
		</div>
	</section>
</section>