<!-- <div class="container-fluid navbar navbar-static-bottom navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <a href="/#!/signin">Sign In</a>
            </li>
        </ul>
    </div>
</div>
 -->
<footer>
	<div class="container-fluid footerDiv">
	    	<a href="/#!/signin">
				<div id="signinButton">
					Sign In
				</div>
			</a>
	        <p id="info">
	            Σκρα-punk &copy 2013
	            <br>email: info@skra-punk.com
	        </p>
	</div>
</footer>