<!-- <div class="container-fluid navbar navbar-static-bottom navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <a href="/#!/signin">Sign In</a>
            </li>
        </ul>
    </div>
</div>
 -->
<footer>
	<div class="container-fluid footerDiv">
		<div class="row" id="info">
			<div class="col-md-2">
				<a href="/#!/signin">
					<div id="signinButton">
						Sign In
					</div>
				</a>
			</div>
			<div class="col-md-8">
				<p>
		            Σκρα-punk &copy 2013
		            <br>email: info@skra-punk.com
		        </p>
			</div>
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-social-icon btn-facebook">
							<i class="fa fa-facebook"></i>
						</a>
					</div>
					<div class="col-md-6">
						<a class="btn btn-social-icon btn-twitter">
							<i class="fa fa-twitter"></i>
						</a>
					</div>
				</div>
			</div>
		</div>  
	</div>
</footer>