<div class="container-fluid footerDiv">
    <div class="row" id="info">
        <div class="col-xs-2">
            <a href="/#!/signin">
                <div id="signinButton">
                    Sign In
                </div>
            </a>
        </div>
        <div class="col-xs-8">
            Σκρα-punk &copy 2013
            <br>email: info@skra-punk.com
        </div>
        Follow us:&#32
        <div class="col-xs-2">
            <br>
            <div class="socialButton">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/skrapunk" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="socialButton">
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/SKRApunk" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
