<!-- Left Sidebar -->
<div data-ng-controller="LeftbarController" class="text-center" id="sidebar-left">
    <!-- Editorial -->
    <div class="row headings">
        <h3 class="pict">
            <a href="#!/tags/54882a14d1076ddf1564bf5d">Editorial</a>
        </h3>
    </div>
    <div class="row" ng-cloak>
        <h4 class="inner-headings">
            <a data-ng-href="#!/articles/{{editorial._id}}" class="pict"><span data-ng-bind="editorial.title"></span></a>
        </h4>
        <a data-ng-href="#!/articles/{{editorial._id}}">
            <img class="img-renponsive" data-ng-src="{{editorial.img}}" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <!-- Picturesque -->
    <div class="row headings">
        <h3 class="pict">
            <a href="#!/tags/5480ff9899fe89ea050c0cba">Πικτουρέσκ</a>
        </h3>
    </div>
    <div class="row" ng-cloak>
        <h4 class="inner-headings">
            <a data-ng-href="#!/articles/{{picturesque._id}}" class="pict"><span data-ng-bind="picturesque.title"></span></a>
        </h4>
        <a data-ng-href="#!/articles/{{picturesque._id}}">
            <img class="img-renponsive" data-ng-src="{{picturesque.img}}" alt="">
        </a>
    </div>
</div>