<!-- Right Sidebar -->
<section class="text-center" id="sidebar-right">
    <div class="row headings">
        <h3>
            Στήλες
        </h3>
    </div>
    <div class="row sidebar">
        <h4 class="inner-headings">
            <a href="#!/tags/5480ff3699fe89ea050c0cb7" class="pict">JumpCut</a>
        </h4>
        <a href="#!/tags/5480ff3699fe89ea050c0cb7">
            <img class="img-responsive" src="modules/tags/images/jump_cut.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row sidebar">
        <h4 class="inner-headings">
            <a href="#!/tags/5480ff4899fe89ea050c0cb8" class="pict">Στήλη Άλατος</a>
        </h4>
        <a href="#!/tags/5480ff4899fe89ea050c0cb8">
            <img class="img-responsive" src="modules/tags/images/salt.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row sidebar">
        <h4 class="inner-headings">
            <a href="#!/tags/5480ff6899fe89ea050c0cb9" class="pict">Μεγάλοι Έλληνες</a>
        </h4>
        <a href="#!/tags/5480ff6899fe89ea050c0cb9">
            <img class="img-responsive" src="modules/tags/images/big_greeks.jpg" alt="">
        </a>
    </div>
</section>
