<!-- Right Sidebar -->
<div id="sidebar-right" class="col-md-2 visible-md visible-lg">
    <div class="row headings">
        <h3>
            Στήλες
        </h3>
    </div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">JumpCut</a>
        </h4>
        <a href="#/articles">
            <img src="images/columns/jump_cut.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">Στήλη Άλατος</a>
        </h4>
        <a href="#!/articles">
            <img src="images/columns/salt.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">Μεγάλοι Έλληνες</a>
        </h4>
        <a href="#!/articles">
            <img src="images/columns/big_greeks.jpg" alt="">
        </a>
    </div>
</div>