<!-- Right Sidebar -->
<section class="text-center">
    <div class="row headings">
        <h3>
            Στήλες
        </h3>
    </div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">JumpCut</a>
        </h4>
        <a href="#!/articles">
            <img class="img-responsive" src="modules/tags/images/jump_cut.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">Στήλη Άλατος</a>
        </h4>
        <a href="#!/articles">
            <img class="img-responsive" src="modules/tags/images/salt.jpg" alt="">
        </a>
    </div>
    <div class="separator_horizontal"></div>
    <div class="row">
        <h4 class="inner-headings">
            <a href="#!/articles" class="pict">Μεγάλοι Έλληνες</a>
        </h4>
        <a href="#!/articles">
            <img class="img-responsive" src="modules/tags/images/big_greeks.jpg" alt="">
        </a>
    </div>
</section>
