<section id="main">
    <!-- Main page: left sidebar, main content, right sidebar -->
    <section class="container-fluid">
        <div class="row">
            <!-- Left Sidebar -->
            <div id="sidebar-left" class="col-md-2 visible-md visible-lg">
                <div class="row headings">
                    <h3 class="pict">
                        <a href="#/tag/picturesque">Πικτουρέσκ</a>
                    </h3>
                </div>
                <div class="row" ng-cloak>
                    <h4 class="inner-headings">
                        <a href="#/read/{{picturesque.articles[0].url}}" class="pict">{{picturesque.articles[0].title}}</a>
                    </h4>
                    <a href="#/read/{{picturesque.articles[0].url}}">
                        <img class="img-renponsive" src="{{picturesque.articles[0].imgPath}}" alt="">
                    </a>
                </div>
            </div>

            <!-- Main Content -->
            <div id="content" class="col-md-8">
                <div class="row headings">
                    <h2>
                        {{category.name}}
                    </h2>
                </div>
                <div class="row" ng-repeat="subcat in category.subcats">
                    <h3 class="subcatHead">{{subcat.name}}</h3>
                    <div class="separator">
                        <div ng-repeat="article in subcat.articles">
                            <!-- <div ng-class="{row: (($index + 1) % 3 === 0)}"> -->
                            <div ng-hide="($index > 5) && (!isOpen)">
                                <div class="col-sm-6 col-md-4">
                                    <div class="article-cell" ng-cloak>
                                        <a ng-href="#/read/{{article.url}}">
                                            <img class="img-responsive article-tile" ng-src="{{article.imgPath}}" alt="">
                                        </a>
                                        <h3 class="inner-headings"><a href="#/read/{{article.url}}">{{article.title}}</a>
                                        </h3>
                                        <div class="inline" ng-repeat="tag in article.tags">
                                            <button class="btn btn-xs btn-info" ng-click="go(tag.url)">{{tag.name}}
                                            </button>
                                        </div>
                                        <p>
                                            <h5 class="articleMeta">
                                                <a href="#/authors/{{article.authorUrl}}">{{article.name}}</a>
                                            </h5>
                                        </p>
                                        <div class="separator_tile_horizontal"></div>
                                        <p>
                                            <h4>
                                                <small>{{article.summary}}</small>
                                            </h4>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-click="isOpen = !isOpen" ng-hide="subcat.articles.length < 7" id="expander" ng-cloak>
                            <h4 ng-hide="isOpen" class="pull-right">Δείτε περισσότερα άρθρα&#32<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                            </h4>
                            <h4 ng-hide="!isOpen" class="pull-right">Δείτε λιγότερα άρθρα&#32<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Sidebar -->
            <div id="sidebar-right" class="col-md-2 visible-md visible-lg">
                <div class="row headings">
                    <h3>
                        Στήλες
                    </h3>
                </div>
                <div class="row">
                    <h4 class="inner-headings">
                        <a href="#/tag/jump_cut" class="pict">JumpCut</a>
                    </h4>
                    <a href="#/tag/jump_cut">
                        <img src="images/columns/jump_cut.jpg" alt="">
                    </a>
                </div>
                <div class="separator_horizontal"></div>
                <div class="row">
                    <h4 class="inner-headings">
                        <a href="#/tag/salt_pillar" class="pict">Στήλη Άλατος</a>
                    </h4>
                    <a href="#/tag/salt_pillar">
                        <img src="images/columns/salt.jpg" alt="">
                    </a>
                </div>
                <div class="separator_horizontal"></div>
                <div class="row">
                    <h4 class="inner-headings">
                        <a href="#/tag/big_greeks" class="pict">Μεγάλοι Έλληνες</a>
                    </h4>
                    <a href="#/tag/big_greeks">
                        <img src="images/columns/big_greeks.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Google Analytics -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-46126105-1', 'skra-punk.com');
ga('send', 'pageview');
</script>