<!DOCTYPE html>

<html lang="en" xmlns:ng="http://www.skra-punk.com" xmlns:fb="http://ogp.me/ns/fb#" id="ng-app" ng-app="skra-punk">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="skra-punk, skra, punk, Σκρα-punk, Σκρα, πανκ, Σκρά">
    <meta name="description" content="Web magazine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook meta -->
    <!-- <meta property="og:title" content="{{article_title}}" /> -->
    <meta property="og:site_name" content="ΣΚΡΑ-punk" />
    <!-- <meta property="og:description" content="{{article_description}}" /> -->
    <meta property="fb:app_id" content="296559977173451" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="https://www.facebook.com/skrapunk" />
    <meta property="article:publisher" content="https://www.facebook.com/skrapunk" />


    <!-- Include CSS files -->
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="demo.css">

    <!-- Title and title icon -->
    <link rel="shortcut icon" href="images/zymbra.jpg">
    <title ng-bind="'ΣΚΡΑ-punk | ' + title">ΣΚΡΑ-punk</title>

    <meta charset="UTF-8">

</head>

<body ng-controller="MainCtrl">
    <div class="wrapper text-center">
        <header>
            <section id="banner">
                <div class="container">
                    <a href="#/">
                        <img class="img-responsive" src="images/banner2.png">
                    </a>
                </div>
            </section>
            <section id="navbar">
                <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" type="button">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#/">
                                <img class="my-logo img-responsive visible-md visible-lg" src="images/zymbra.jpg">
                                <img class="my-logo-sm img-responsive visible-xs visible-sm" width="50%" height="50%" src="images/zymbra.jpg">
                            </a>
                        </div>
                        <div collapse="isCollapsed">
                            <ul class="nav navbar-nav my-navbar">
                                <li>
                                    <a href="#/home">
                                        <span class="glyphicon glyphicon-home home-icon"></span>&#32Home
                                    </a>
                                </li>
                                <li><a href="#/category/audio">Audio </a>
                                </li>
                                <li><a href="#/category/visual">Visual </a>
                                </li>
                                <li><a href="#/category/readings">Readings </a>
                                </li>
                                <li><a href="#/category/pressing">Pressing</a>
                                </li>
                                <li><a href="#/category/plus">Σκρα-Punk Plus </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="visible-sm visible-md">
                                    <button class="btn btn-inverse" ng-click="searchbarCollapsed = !searchbarCollapsed">
                                        <span class="glyphicon glyphicon-search search-icon"></span>
                                    </button>
                                </li>
                                <!-- <li class="visible-xs visible-lg"> -->
                                <li class="" style="display:none;">
                                    <input class="form-control" type="text" placeholder="Search"></input>
                                </li>
                                <li class="visible-xs visible-lg">
                                    <a id="twitterButton" href="https://twitter.com/SKRApunk" target="_blank"></a>
                                    <a id="fbButton" href="https://www.facebook.com/skrapunk" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div collapse="!searchbarCollapsed" class="searchbar">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <div class="col-sm-9" style="display:none;">
                                <input class="form-control" type="text" placeholder="Search"></input>
                            </div>
                            <div class="col-sm-3">
                                <a id="twitterButton" href="https://twitter.com/SKRApunk" target="_blank"></a>
                                <a id="fbButton" href="https://www.facebook.com/skrapunk" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>



        <div id="content-main" class="switching-views" ng-view>

        </div>
        <footer>
            <div class="footerDiv">
                <p id="info">
                    Σκρα-punk &copy 2013
                    <br>email: info@skra-punk.com
                </p>
            </div>
        </footer>

    </div>

    <!-- Include JAVASCRIPT files -->
    <script type="text/javascript" src="lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.2.16/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.2.16/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="http://pc035860.github.io/angular-easyfb/angular-easyfb.min.js"></script>
    <script type="text/javascript" src="lib/angular-loadscript.js"></script>
    <script type="text/javascript" src="lib/angulartics-ga.js"></script>

    <!-- Local scripts -->
    <script src="js/skra-punk.js"></script>
    <script src="js/home.js"></script>
    <script src="js/categories.js"></script>
    <script src="js/article.js"></script>
    <script src="js/tag.js"></script>
</body>

</html>
