#t1, #t2
{
box-shadow: 0px 10px 50px #888888;
border:0px;
}

body
{
background-color:#FFFFFF;
background-image:url('Shadowhouse-creations-b-w-grunge-texture-set.jpg');
background-position: center top;
background-attachment: fixed; 
color: #FFF

}

.center
{
margin-left:auto;
margin-right:auto;
}
