<section data-ng-controller="ArticlesController">
    <div class="page-header">
        <h1>New Article</h1>
    </div>
    <div class="col-md-12">
        <form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <label class="control-label" for="summary">Summary</label>
                    <div class="controls">
                        <input name="summary" type="text" data-ng-model="article.summary" id="summary" class="form-control" placeholder="Summary (optional)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea ckeditor="editorOptions" ready="editorReady" name="content" data-ng-model="article.content" id="content" class="form-control" placeholder="Content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="category">Category</label>
                    <div class="controls">
                        <span class="nullable">
                            <select data-ng-model="article.category" data-ng-options="category.name for category in categories">
                                <option value="">-- choose category --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="subcategory">Subcategory</label>
                    <div class="controls">
                        <span class="nullable">
                            <select data-ng-model="article.subcategory" data-ng-options="subcategory.name for subcategory in article.category.subcategories">
                                <option value="">-- choose subcategory --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags" class="control-label">Tags</label>
                    <div class="controls">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary" dropdown-toggle>
                                Available tags <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-ng-repeat="tag in tags"><a href data-ng-click="addTag(tag, $index)">{{ tag.name }}</a>
                            </ul>
                        </div>
                        <ul>
                            <li data-ng-repeat="tag in article.tags">
                                <button type="button" class="btn btn-info btn-xs" data-ng-click="removeTag(tag, $index)">{{ tag.name }}
                                    <span class="glyphicon glyphicon-remove">
                                </button>
                            </li>
                        </ul>
                     </div>
                 </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
