<section data-ng-controller="ArticlesController">
    <div class="page-header">
        <h1>New Article</h1>
    </div>
    <div class="col-md-12">
        <form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                    <label class="control-label" for="summary">Summary</label>
                    <div class="controls">
                        <input name="summary" type="text" data-ng-model="article.summary" id="summary" class="form-control" placeholder="Summary (optional)">
                    </div>
                </div>
                <section class="uploader-container">
                    <section class="droplet" ng-class="{ uploading: interface.isUploading() }">
                        <section class="toolbar">
                            <input type="button" class="button upload-files" value="Upload Files" ng-click="interface.uploadFiles()" ng-hide="interface.isUploading()" ng-class="{ clickable: interface.isReady() }" />
                            <input type="button" class="button upload-files" value="Uploading..." ng-show="interface.isUploading()" />
                            <div class="add-files">
                                <droplet-upload-single ng-model="interface"></droplet-upload-single>
                            </div>
                            <comment class="progress" ng-class="{ visible: interface.isUploading() }">
                                Uploaded: {{interface.progress.percent}}%
                            </comment>
                        </section>
                        <droplet ng-model="interface">
                            <comment></comment>
                            <section class="message success" ng-class="{ visible: success }" ng-click="success = false">
                                Successfully uploaded {{uploadCount}} files.
                            </section>
                            <section class="message error" ng-class="{ visible: error }" ng-click="error = false">
                                Failed to upload any of the files.
                            </section>
                            <ul class="files">
                                <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                    <droplet-preview ng-model="model"></droplet-preview>
                                    <div class="delete" ng-click="model.deleteFile()">&times;</div>
                                    <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                                </li>
                            </ul>
                        </droplet>
                    </section>
                </section>
                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <div class="controls">
                        <textarea ckeditor="editorOptions" ready="editorReady" name="content" data-ng-model="article.content" id="content" class="form-control" placeholder="Content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="category">Category</label>
                    <div class="controls">
                        <span class="nullable">
                            <select data-ng-model="article.category" data-ng-options="category.name for category in categories">
                                <option value="">-- choose category --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="subcategory">Subcategory</label>
                    <div class="controls">
                        <span class="nullable">
                            <select data-ng-model="article.subcategory" data-ng-options="subcategory.name for subcategory in article.category.subcategories">
                                <option value="">-- choose subcategory --</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags" class="control-label">Tags</label>
                    <div class="controls">
                        <div class="btn-group" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary" dropdown-toggle>
                                Available tags <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-ng-repeat="tag in tags | filter:{isSubcategory:false}"><a href data-ng-click="addTag(tag, $index)">{{ tag.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <ul>
                            <li data-ng-repeat="tag in article.tags | filter:{isSubcategory:false}">
                                <button type="button" class="btn btn-info btn-xs" data-ng-click="removeTag(tag, $index)">{{ tag.name }}
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
