<section data-ng-init="findOne()" data-ng-controller="ViewArticlesController">
    <header class="page-header headings" id="content-article" style="padding:30px;border-radius:20px;">
        <h1 class="text-center" data-ng-bind="article.title"></h1>

        <div class="pull-right" data-ng-if="authentication.user._id == article.user._id || authentication.user.roles[0] == 'admin'">
            <a class="btn btn-primary" data-ng-href="/#!/articles/{{article._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
        <em class="text-muted col-xs-6" style="font-size:110%;">
            Published on
            <span data-ng-bind="article.created | date:'fullDate'"></span>
            <a data-ng-href="#!/authors/{{article.user._id}}">
                <img class="img-responsive" width="50" height="50" data-ng-src="{{article.user.img}}">
                <span data-ng-bind="article.user.displayName"></span>
            </a>
        </em>
        </small>
        <div class="col-xs-6 text-right" ng-cloak>
            <div class="inline" ng-repeat="tag in article.tags">
                <a class="btn btn-xs btn-info" data-ng-href="#!/tags/{{tag._id}}" data-ng-bind="tag.name" style="font-size:95%;"></a>
            </div>
        </div>
<br><br><br>
    </header>
    <!-- <div class="separator"></div> -->

    <fb:like data-ng-href="http://skra-punk.com/#!/articles/{{article._id}}" layout="standard" action="like" show_faces="true" share="true"></fb:like>
    <div class="lead" data-ng-bind-html="trustAsHtml(article.content)" id="content-article" style="padding:25px;border-radius:20px;"></div>
    <div class="">
        <fb:comments href="http://skra-punk.com/#!/articles/{{article._id}}" numposts="5" colorscheme="light"></fb:comments>
    </div>
</section>
