<section data-ng-init="findOne()" data-ng-controller="ViewArticlesController">
    <header class="page-header headings">
        <h1 class="text-center" data-ng-bind="article.title"></h1>

        <div class="pull-right" data-ng-if="authentication.user._id == article.user._id || authentication.user.roles[0] == 'admin'">
            <a class="btn btn-primary" data-ng-href="/#!/articles/{{article._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
        <em class="text-muted col-xs-6">
            Published on
            <span data-ng-bind="article.created | date:'fullDate'"></span>
            <a data-ng-href="#!/authors/{{article.user._id}}">
                <img class="img-responsive" width="50" height="50" data-ng-src="{{article.user.img}}">
                <span data-ng-bind="article.user.displayName"></span>
            </a>
        </em>
        </small>
        <div class="col-xs-6 text-right" ng-cloak>
            <div class="inline" ng-repeat="tag in article.tags">
                <a class="btn btn-xs btn-info" data-ng-href="#!/tags/{{tag._id}}" data-ng-bind="tag.name"></a>
            </div>
        </div>

        <span class="separator_horizontal"></span>
        <div class="">
            <span ezfb-xfbml>
            <span class="fb-like pull-left" data-href="http://skra-punk.com/#!/articles/{{article._id}}" data-layout="standard" data-action="like" data-show_faces="true" data-share="true"></span>
            </span>
        </div>
    </header>
    <div class="lead" data-ng-bind-html="trustAsHtml(article.content)"></div>
    <div class="">
        <span ezfb-xfbml>
         <span class="fb-comments" data-href="http://skra-punk.com/#!/articles/{{article._id}}" data-numposts="10" data-colorscheme="light"></span>
        </span ezfb-xfbml>
    </div>
</section>
