@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}
.author-item {
    opacity: 0.7;
    padding-top: 2em;
    padding-bottom: 2em;
}
.author-item:hover {
    opacity: 1;
}
.auth-name {
    font-weight: bold;
    font-size: 90%;
}
