@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}
.author-item {
    opacity: 0.7;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 300px;
}
.author-item:hover {
    opacity: 1;
}
img.auth-pic {
    max-width: 100%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.auth-name {
    font-weight: bold;
    font-size: 90%;
}
.profile-img {
    padding: 5px;
}
