<section data-ng-controller="ViewTagsController" data-ng-init="find()">
    <div class="page-header headings inline">
        <h1 data-ng-bind="tag.name"></h1>
    </div>
    <div class="text-right inline" data-ng-if="authentication.user">
        <a class="btn btn-primary" data-ng-href="/#!/tags/{{tag._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-danger" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="row text-center">
        <div ng-repeat="article in articles">
            <div class="col-sm-6 col-md-4">
                <div class="article-cell" ng-cloak>
                    <a data-ng-href="#!/articles/{{article._id}}">
                        <img class="img-responsive article-tile" data-ng-src="{{article.img}}" alt="">
                    </a>
                    <h3 class="inner-headings">
                        <a data-ng-href="#!/articles/{{article._id}}">
                            <span data-ng-bind="article.title"></span>
                        </a>
                    </h3>
                    <div class="inline" ng-repeat="tag in article.tags">
                        <a class="btn btn-xs btn-info" data-ng-href="#!/tags/{{tag._id}}" data-ng-bind="tag.name" style="color:white;"></a>
                    </div>
                    <p>
                        <h5 class="articleMeta"><a data-ng-href="#!/authors/{{article.user._id}}">
                            <span data-ng-bind="article.user.displayName"></span></a>
                        </h5>
                    </p>
                    <p>
                        <span data-ng-bind="article.created | date:'mediumDate'"></span>
                    </p>
                    <div class="separator_tile_horizontal"></div>
                    <p>
                        <h4><small><span data-ng-bind="article.summary"></span></small></h4>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
