<section data-ng-controller="AuthorsController">
    <section>
        <div class="text-center">
            <!-- Author Page Content -->
            <!-- Profile Header -->
            <div class="row">
                <header class="headings">
                    <div class="col-xs-5 profile-img">
                        <!-- Author's image -->
                        <a ng-href="#!/authors/{{author._id}}/profile">
                            <img class="img-responsive" data-ng-src="{{author.img}}">
                        </a>
                    </div>
                    <!-- Author's name -->
                    <div class="col-xs-7 ">
                        <h2 class="display-name"><span data-ng-bind="author.displayName"></span></h2>
                    </div>
                    <br>
                </header>
            </div>
            <div class="separator_horizontal"></div>

            <!-- Articles by this author -->
            <h3 class="headings">Άρθρα</h3>
            <div data-ng-repeat="article in author.articles">
                <div class="col-sm-6 col-md-4">
                    <div class="article-cell" ng-cloak>
                        <a data-ng-href="#!/articles/{{article._id}}">
                            <img class="img-responsive article-tile" ng-src="{{article.img}}" alt="">
                        </a>
                        <a data-ng-href="#!/articles/{{article._id}}">
                            <h3 class="inner-headings" data-ng-bind="article.title"></h3>
                        </a>
                        <div class="inline" ng-repeat="tag in article.tags">
                            <span class="btn btn-xs btn-info" data-ng-href="#!/tags/{{tag._id}}" data-ng-bind="tag.name"></span>
                        </div>
                        <p>
                            <span data-ng-bind="article.created | date:'mediumDate'"></span>
                        </p>
                        <div class="separator_tile_horizontal"></div>
                        <p>
                            <h4><small>{{article.summary}}</small></h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
